html {
  overflow-x: hidden;
}

.about {
  margin-left: 4rem;
  margin-right: 4rem;
  padding-top: 60px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10rem;
  align-items: center;

  .left {
    margin-top: 0rem;
    padding-top: 0rem;
    display: flex;
    flex-direction: column;
    position: relative;

    .circle3 {
      background-color: aliceblue;
      background: linear-gradient(200deg, #0bc94a 0%, #752bec 100%);
      height: 400px;
      aspect-ratio: 1;
      position: absolute;
      left: -30%;
      top: -30%;
      border-radius: 50%;
      filter: blur(100px);
      z-index: -1;
      overflow-x: hidden;
      animation: rotate 5s linear infinite;
    }
    .circle2 {
      background-color: aliceblue;
      background: linear-gradient(200deg, #0b73c9d2 0%, #e6062b 100%);
      height: 300px;
      aspect-ratio: 1;
      position: absolute;
      left: 180%;
      top: -40%;
      border-radius: 50%;
      filter: blur(70px);
      z-index: -1;
      overflow-x: hidden;
      animation: rotate 5s linear infinite;
    }
    @keyframes rotate {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

    .welcome {
      font-family: "Urbanist", sans-serif;
      font-size: 6rem;
      font-weight: 700;
      max-width: 550px;
      overflow-x: hidden;

      .welcome-text {
        color: #e2e2e2;
      }

      mark {
        background-color: rgba(102, 51, 153, 0) !important;
        color: #e2e2e2c2;
      }

      .mark2 {
        color: #ff804e;
      }
    }

    button {
      font-family: inherit;
      position: relative;
      width: fit-content;
      font-size: 0.9rem;
      color: #b4b4b4;
      padding: 10px 10px;
      border-radius: 10px;
      background-color: #fcfcfc00;
      cursor: pointer;
      border: 1px solid black;
      border-color: #b4b4b4;
      transition: background-color 0.5s;
      font-weight: 500;
    }

    button:hover {
      background-color: #e2e2e2;
      color: #4b4649fd;
    }
  }

  .right {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    font-weight: 300;

    .container {
      position: relative;
      display: flex;
      justify-content: center;

      .laptop {
        width: 80%;
        height: auto;
        position: relative;
      
      }
    }

    @keyframes span {
      50% {
        opacity: 0;
      }
    }

    .desc {
      justify-content: center;
      color: #e2e2e2;
      font-size: 16px;
      width: 27rem;
      text-align: left;
      border-left: 3px solid;
      border-color: rgba(77, 77, 77, 0);
      padding: 10px;
      background-color: #0f0f0f00;
      border-radius: 5px;

      span {
        font-weight: 500;
        color: #bdb8ff;
        line-height: 3px;
      }
    }
  }
}

@media only screen and (max-width: 1263px) {
  .about {
    flex-direction: column;
    align-items: center;
    gap: 0px;

    .left {
      padding-top: 0px;
      width: 90vw;
      flex-wrap: wrap;
      align-items: center;

      .circle2 {
        background: linear-gradient(200deg, #0bc94a2c 0%, #752bec86 100%);
        height: 350px;
        aspect-ratio: 1;
        position: absolute;
        left: -30%;
        top: -50%;
        border-radius: 50%;
        filter: blur(100px);
        z-index: -1;
      }
      .circle3 {
        background-color: aliceblue;
        background: linear-gradient(200deg, #0b73c93b 0%, #e6062b38 100%);
        height: 350px;
        aspect-ratio: 1;
        position: absolute;
        left: 30%;
        top: -50%;
        border-radius: 50%;
        filter: blur(100px);
        z-index: -1;
      }

      .welcome {
        margin-top: 1rem;
        font-size: 3.5rem;
        text-align: center;
        width: 100%;

        overflow-x: hidden;
      }
      button {
        display: none;
      }
    }

    .right {
      .container {
        .laptop {
          width: 85%;
          margin-top: -4rem;
        }
      }
      .desc {
        margin: 2rem;
        margin-top: 0rem;
        width: 90vw;
        font-size: 15px;
        font-weight: 400;
      }
    }
  }
}
