.title3 {
  text-align: center;
  font-size: 2rem;
  margin-top: 7rem;
}
.contact {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;

  .left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 30vw;
    max-width: 600px;
    background-color: rgb(22, 22, 21);
    gap: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: relative;
    backdrop-filter: blur(200px);
    overflow: hidden;
    z-index: 22;

    .circle {
      position: absolute;
      height: 200px;
      width: 200px;
      background-color: #fff;
      background: linear-gradient(
        to right,
        rgb(255, 73, 200),
        rgba(32, 236, 124, 0.87)
      );
      border-radius: 50%;
      top: -30px;
      left: -20px;
      filter: blur(70px);
      z-index: -1;
    }

    .thankyou {
      margin-left: 2rem;
      margin-right: 2rem;
      font-weight: 400;
      font-size: 15px;
      margin-top: 2rem;
      margin-bottom: 1rem;
    }

    .links {
      display: flex;
      gap: 20px;
      margin-left: 2rem;
      margin-bottom: 2rem;

      a {
        text-decoration: none;
        color: inherit;
        height: 40px;
        width: 40px;
        background-color: #ffffffea;
        border-radius: 50%;
        color: rgb(29, 29, 29);
      }
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    width: 30vw;
    max-width: 600px;
    background-color: rgb(27, 27, 27);
    justify-content: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    form {
      display: flex;
      flex-direction: column;
      max-width: 600px;
      margin: 3rem;
      font-size: 16px;

      div {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;

        label {
          margin-bottom: 2px;
          font-weight: bold;
        }

        input,
        textarea {
          background-color: #27272770;
          font-family: "Satoshi", sans-serif;
          font-weight: 500;
          padding-left: 8px;
          padding-top: 8px;
          padding-bottom: 8px;
          padding-right: 8px;
          border: 2px solid #2e2e2e;
          border-radius: 5px;
          font-size: 15px;
          color: #e2e2e2;
          outline: transparent;
        }

        textarea {
          height: 120px;
          max-height: 120px;
          resize: none;
        }
      }

      button {
        padding: 8px 16px;
        background-color: #e7e7e7;
        color: #1a1a1a;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
        font-family: "Satoshi", sans-serif;
        font-weight: 700;
        z-index: 99;

        &:hover {
          background-color: #cccccc;
        }

        &:disabled {
          background-color: #272424;
          cursor: not-allowed;
        }
      }
      .copyright {
        font-size: 11px;
        margin-top: 1rem;
        margin-bottom: 0rem;
        font-weight: 300;
      }
    }
  }
}

@media only screen and (max-width: 888px) {
  .title3 {
    font-size: 1.5rem;
    margin-top: 6rem;
  }
  .contact {
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;

    .left {
      width: 90vw;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
      height: 230px;
      font-weight: 400;

      .circle {
        animation: none;
      }
    }
    .right {
      display: flex;
      width: 90vw;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      align-items: center;

      form {
        max-width: 500px;
        width: 80vw;

        div {
          input,
          textarea {
            padding-top: 8px;
            padding-bottom: 8px;
            font-size: 15px;
          }
        }
      }
    }
  }
}
